* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 10px 20px;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    
    background: #333;
    color: #fff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #0779e4 5px solid;
    padding-right: 10px;
    margin-bottom: 10px;
}

.header-left h1 {
    background-color: #263238;
    font-weight: 700;
    font-size: larger;
    margin-left: 20px;
    padding-bottom: 0px;
}


.header-right a {
    color: #fff;
    text-decoration: none;
    
}

header h1 {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

article {
    margin-top: 10px;
    padding: 10px;
    background: #fff;
}

.article-heading {
    text-align: center; /* Center the text inside .article-heading */
}

.post-title {
    margin-top: 0px;
    margin-bottom: 2px; /* Add some space below the title */
}

.article-picture {
    margin-top: 3px;
    margin-bottom: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:25%;
}

footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background: #333;
    color: #fff;
}

