<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newspagestyles.css') }}">
</head>
<body>
    <header>
        <h1>NewsAId</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <article>
        <h2>{{ post.title }}</h2>
        <p>Posted on <time datetime="{{ post.posted_on }}">{{ post.posted_on }}</time></p>
        
        {% if post.picture %}
    <img src="{{ url_for('static', filename='images/generated_image.png') }}" alt="generated_image" width="200">
{% else %}
    <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="placeholder_image" width="200">
{% endif %}
        <p>{{ post.content }}</p>
    </article>

    <footer>
        <p>&copy; 2024 NewsAId. All rights reserved.</p>
    </footer>
</body>
</html>