<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newspagestyles.css') }}">
</head>
<body>
    <!--Nav Bar-->
    <header>
        <div class = "header-left">
            <h1>NewsAId</h1>
        </div>

        <nav class = "header-right">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <article>
        <div class = "article">
            <div class = "article-heading">
                <h2 class = "post-title">{{ post.title }}</h2>
                <p>Posted on <time datetime="{{ post.posted_on }}">{{ post.posted_on }}</time></p>
            </div>
            <div class = "article-picture">
                {% if post.picture %}
                    <img src="{{ url_for('static', filename='images/generated_image.png') }}" alt="generated_image" width="200" class="center">
                {% else %}
                    <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="placeholder_image" width="200" class="center">
                {% endif %}
            </div>
            
        <p>{{ post.content }}</p>
        </div>
    </article>

    <footer>
        <p>&copy; 2024 NewsAId. All rights reserved.</p>
    </footer>
</body>
</html>